.img-fluid{
    max-width: 500px;
}
.items2{
    justify-content: flex-end;
}
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: #25014b;
}
body::-webkit-scrollbar-thumb {
    background: #CE1A9E;
}